version: "3.9"

services:
  frontend:
    build: ./front-end
    container_name: frontend_app
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://127.0.0.0:8000

  backend:
    build: ./API
    container_name: fastapi_backend
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=coursesdb
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: fastapi_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=coursesdb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
