apiVersion: apps/v1
kind: Deployment
metadata:
  name: fast-api-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: fast-api-app
  template:
    metadata:
      labels:
        app: fast-api-app
    spec:
      containers:
        - name: fast-api-app
          image: daeu/fast-api-app:1.0
          ports:
            - containerPort: 8000
          env:
            - name: DB_HOST
              value: "postgres-service"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              value: "user"
            - name: DB_PASSWORD
              value: "password"
            - name: DB_NAME
              value: "coursesdb"
